.control-button {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 10px;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.delete-button {
  background-image: image-url("delete.svg");
  width: 20px;
  height: 20px;
}

.up-button {
  background-image: image-url("up.svg");
}

.down-button {
  background-image: image-url("down.svg");
}

.edit-button {
  background-image: image-url("edit.svg");
  width: 20px;
  height: 20px;
}

.save-button {
  background-image: image-url("tick.svg");
  background-size: contain;
  border: none;
  height: 20px;
}

form {
  .edit-name-box {
    margin: 0;
    padding: 5px;
    font-size: 1em;
  }
  margin-bottom: 0;
}

.score-cell {
  font-size: 1.5em;
  color: green;
}

.name-cell {
  cursor: pointer;
  min-width: 300px;
}
