body {
  text-align: center;
}

.control-button {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 10px;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.delete-button {
  background-image: image-url("delete.svg");
  width: 20px;
  height: 20px;
}

.up-button {
  background-image: image-url("up.svg");
}

.down-button {
  background-image: image-url("down.svg");
}

.edit-button {
  background-image: image-url("edit.svg");
  width: 20px;
  height: 20px;
}

.save-button {
  background-image: image-url("tick.svg");
  background-size: contain;
  border: none;
  height: 20px;
}

.refresh-button {
  background-image: image-url("refresh.svg");
  margin-top: 20px;
}

.admin-on-button {
  background-image: image-url("edit.svg");
  width: 25px;
  height: 25px;
}

form {
  .edit-name-box {
    margin: 0;
    padding: 5px;
    font-size: 1em;
  }
  input[type=text], button {
    border-radius: 40px;
  }
  margin-bottom: 0;
}

.score-cell {
  font-size: 1.5em;
  color: green;
}

.name-cell {
  cursor: pointer;
  min-width: 300px;
}

.editable {
  cursor: pointer;
}

.edit-title, .edit-description {
  width: 80%;
}

@media (max-width: 800px) {
  .name-cell {
    min-width: 0;
  }
}
